<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- MyBatis 에서 해당 클래스를 찾을 수 있도록 지정 (각각의 클래스들을 모두 명시해야함) -->
    <typeAliases>
        <typeAlias alias="BoardVO" type="com.SpringProject.board.vo.BoardVO"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/Board_SQL_MYSQL.xml"/>
        <mapper resource="mappers/Member_SQL_MYSQL.xml"/>
    </mappers>
    
</configuration>